aiohttp>=3.3.2
configparser==3.5.0
cryptography>=2.3,<2.4
git+https://github.com/Rapptz/discord.py.git@rewrite#egg=discord.py
janus>=0.4.0,<0.5
networkx>=2.1,<2.2
python-dateutil==2.7.3
psutil==5.4.6
requests==2.19.1
SQLAlchemy==1.2.9
SQLAlchemy-Utils==0.33.3
swagger-client==1.0.0 #see article to install this package https://developers.eveonline.com/blog/article/swagger-codegen-update
urllib3==1.23